#messagesearchtools {
        top: -3px;
        z-index: 10;
}

#addressview-right #quicksearchbar {
        top: -1px;
}

#addresslist,
#contacts-box,
#directorylistbox,
#mailboxcontainer,
#compose-contacts,
#compose-content,
#mailview-right {
        top: 32px;
}

#messagetoolbar .toolbarselect {
        bottom: 12px;
}

#mainscreen .offset {
        margin-top: 32px;
}

#mainscreencontent {
        top: 0px;
}

#addressbooktoolbar a.button,
#messagetoolbar a.button {
        color: transparent;
        text-shadow: none;
        font-size: 0em;
}
